# Xmake cache
.xmake/
build/

# MacOS Cache
.DS_Store


/bin
.gitattributes
*.bat
*.ipch
*.opendb
*.db
*.db-wal
*.db-shm
*.lua
vsxmake2022/.vs/CassouletEngine_3D/FileContentIndex/0806cc20-ac6a-41e5-8ef7-fa03f4c7ee09.vsidx
vsxmake2022/.vs/CassouletEngine_3D/FileContentIndex/1dd9331d-e2f4-426d-a699-6a9c683657cb.vsidx
vsxmake2022/.vs/CassouletEngine_3D/FileContentIndex/bf9e55e8-fe64-439d-9adf-736f643aa5bf.vsidx
vsxmake2022/.vs/CassouletEngine_3D/v17/DocumentLayout.json
vsxmake2022/.vs/CassouletEngine_3D/v17/fileList.bin
/vsxmake2022
